CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "api_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "role" varchar(20) NOT NULL);
CREATE TABLE IF NOT EXISTS "api_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_deposito" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL UNIQUE, "ubicacion" varchar(200) NULL);
CREATE TABLE IF NOT EXISTS "api_lineaproduccion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL UNIQUE, "descripcion" text NULL);
CREATE TABLE IF NOT EXISTS "api_motor" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "ubicacion_tipo" varchar(20) NOT NULL, "estado" varchar(20) NOT NULL, "fecha_instalacion" date NULL, "ultimo_mantenimiento" date NULL, "proximo_mantenimiento" date NULL, "horas_uso" integer unsigned NOT NULL CHECK ("horas_uso" >= 0), "manual" varchar(100) NULL, "codigo" varchar(100) NOT NULL UNIQUE, "potencia" varchar(50) NOT NULL, "tipo" varchar(50) NOT NULL, "rpm" varchar(50) NOT NULL, "brida" varchar(50) NOT NULL, "anclaje" varchar(50) NOT NULL, "ref_plano" varchar(100) NULL, "imagen" varchar(100) NULL, "creado_por_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "deposito_id" bigint NULL REFERENCES "api_deposito" ("id") DEFERRABLE INITIALLY DEFERRED, "equipo_id" bigint NULL REFERENCES "api_equipo" ("id") DEFERRABLE INITIALLY DEFERRED, "linea_id" bigint NULL REFERENCES "api_lineaproduccion" ("id") DEFERRABLE INITIALLY DEFERRED, "sector_id" bigint NULL REFERENCES "api_sector" ("id") DEFERRABLE INITIALLY DEFERRED, "imagen_url" varchar(500) NULL, "plano_url" varchar(500) NULL);
CREATE TABLE IF NOT EXISTS "api_plc" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "modelo" varchar(100) NOT NULL, "tipo" varchar(50) NOT NULL, "direccion_ip" char(39) NULL, "firmware" varchar(50) NOT NULL, "descripcion" text NOT NULL, "diagrama" varchar(100) NULL, "fecha_instalacion" date NULL, "creado_por_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "ubicacion_id" bigint NULL REFERENCES "api_equipo" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_plcentradasalida" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "direccion" varchar(50) NOT NULL, "tipo" varchar(50) NOT NULL, "etiqueta" varchar(100) NOT NULL, "descripcion" text NOT NULL, "valor_actual" varchar(50) NOT NULL, "rango" varchar(100) NOT NULL, "fecha_actualizacion" datetime NOT NULL, "historico" text NOT NULL CHECK ((JSON_VALID("historico") OR "historico" IS NULL)), "plc_id" bigint NOT NULL REFERENCES "api_plc" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_proveedor" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "especialidad" varchar(50) NOT NULL, "contacto" varchar(100) NOT NULL, "telefono" varchar(20) NOT NULL, "email" varchar(254) NOT NULL, "direccion" text NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "created_by_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_sector" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "linea_id" bigint NOT NULL REFERENCES "api_lineaproduccion" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_variador" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "ubicacion_tipo" varchar(20) NOT NULL, "estado" varchar(20) NOT NULL, "fecha_instalacion" date NULL, "ultimo_mantenimiento" date NULL, "proximo_mantenimiento" date NULL, "horas_uso" integer unsigned NOT NULL CHECK ("horas_uso" >= 0), "codigo" varchar(100) NOT NULL UNIQUE, "marca" varchar(100) NOT NULL, "modelo" varchar(100) NOT NULL, "potencia" varchar(50) NOT NULL, "imagen" varchar(100) NULL, "manual" varchar(100) NULL, "parametros" text NOT NULL CHECK ((JSON_VALID("parametros") OR "parametros" IS NULL)), "creado_por_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "deposito_id" bigint NULL REFERENCES "api_deposito" ("id") DEFERRABLE INITIALLY DEFERRED, "equipo_id" bigint NULL REFERENCES "api_equipo" ("id") DEFERRABLE INITIALLY DEFERRED, "linea_id" bigint NULL REFERENCES "api_lineaproduccion" ("id") DEFERRABLE INITIALLY DEFERRED, "sector_id" bigint NULL REFERENCES "api_sector" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_plclog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "tipo" varchar(50) NOT NULL, "valor_anterior" varchar(100) NOT NULL, "valor_nuevo" varchar(100) NOT NULL, "descripcion" text NOT NULL, "fecha" datetime NOT NULL, "entrada_salida_id" bigint NULL REFERENCES "api_plcentradasalida" ("id") DEFERRABLE INITIALLY DEFERRED, "plc_id" bigint NOT NULL REFERENCES "api_plc" ("id") DEFERRABLE INITIALLY DEFERRED, "usuario_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_ordenmantenimiento" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "titulo" varchar(100) NOT NULL, "descripcion" text NOT NULL, "tipo" varchar(20) NOT NULL, "prioridad" varchar(20) NOT NULL, "estado" varchar(20) NOT NULL, "fecha_creacion" datetime NOT NULL, "fecha_cierre" datetime NULL, "tiempo_estimado" integer unsigned NULL CHECK ("tiempo_estimado" >= 0), "tiempo_real" integer unsigned NULL CHECK ("tiempo_real" >= 0), "checklist" text NULL CHECK ((JSON_VALID("checklist") OR "checklist" IS NULL)), "creado_por_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "operario_asignado_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_ordenmantenimiento_variadores" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "ordenmantenimiento_id" bigint NOT NULL REFERENCES "api_ordenmantenimiento" ("id") DEFERRABLE INITIALLY DEFERRED, "variador_id" bigint NOT NULL REFERENCES "api_variador" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_historialmantenimiento" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "equipo_tipo" varchar(20) NOT NULL, "equipo_id" integer NOT NULL, "fecha" datetime NOT NULL, "tipo_evento" varchar(50) NOT NULL, "descripcion" text NOT NULL, "orden_id" bigint NULL REFERENCES "api_ordenmantenimiento" ("id") DEFERRABLE INITIALLY DEFERRED, "reparacion_id" bigint NULL REFERENCES "api_reparacion" ("id") DEFERRABLE INITIALLY DEFERRED, "usuario_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_evento" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "tipo" varchar(30) NOT NULL, "descripcion" text NOT NULL, "fecha" datetime NOT NULL, "objeto_id" integer NOT NULL, "usuario_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_equipo" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "sector_id" bigint NOT NULL REFERENCES "api_sector" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "api_user_groups_user_id_group_id_9c7ddfb5_uniq" ON "api_user_groups" ("user_id", "group_id");
CREATE INDEX "api_user_groups_user_id_a5ff39fa" ON "api_user_groups" ("user_id");
CREATE INDEX "api_user_groups_group_id_3af85785" ON "api_user_groups" ("group_id");
CREATE UNIQUE INDEX "api_user_user_permissions_user_id_permission_id_a06dd704_uniq" ON "api_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "api_user_user_permissions_user_id_f3945d65" ON "api_user_user_permissions" ("user_id");
CREATE INDEX "api_user_user_permissions_permission_id_305b7fea" ON "api_user_user_permissions" ("permission_id");
CREATE INDEX "api_motor_creado_por_id_0d6d82ed" ON "api_motor" ("creado_por_id");
CREATE INDEX "api_motor_deposito_id_3e596ef4" ON "api_motor" ("deposito_id");
CREATE INDEX "api_motor_equipo_id_e4608d36" ON "api_motor" ("equipo_id");
CREATE INDEX "api_motor_linea_id_4c30b220" ON "api_motor" ("linea_id");
CREATE INDEX "api_plc_creado_por_id_2c996a8a" ON "api_plc" ("creado_por_id");
CREATE INDEX "api_plc_ubicacion_id_57f790f6" ON "api_plc" ("ubicacion_id");
CREATE INDEX "api_plcentradasalida_plc_id_df7cac40" ON "api_plcentradasalida" ("plc_id");
CREATE INDEX "api_proveedor_created_by_id_52d03259" ON "api_proveedor" ("created_by_id");
CREATE UNIQUE INDEX "api_sector_nombre_linea_id_38b90ae8_uniq" ON "api_sector" ("nombre", "linea_id");
CREATE INDEX "api_sector_linea_id_1ca9137a" ON "api_sector" ("linea_id");
CREATE INDEX "api_variador_creado_por_id_4f34edfa" ON "api_variador" ("creado_por_id");
CREATE INDEX "api_variador_deposito_id_ef1b031d" ON "api_variador" ("deposito_id");
CREATE INDEX "api_variador_equipo_id_8fba8c06" ON "api_variador" ("equipo_id");
CREATE INDEX "api_variador_linea_id_c96e8dd3" ON "api_variador" ("linea_id");
CREATE INDEX "api_variador_sector_id_3315ef86" ON "api_variador" ("sector_id");
CREATE INDEX "api_plclog_entrada_salida_id_4cb3a1c7" ON "api_plclog" ("entrada_salida_id");
CREATE INDEX "api_plclog_plc_id_7a8a1a7a" ON "api_plclog" ("plc_id");
CREATE INDEX "api_plclog_usuario_id_dc33b834" ON "api_plclog" ("usuario_id");
CREATE INDEX "api_ordenmantenimiento_creado_por_id_59a586ce" ON "api_ordenmantenimiento" ("creado_por_id");
CREATE INDEX "api_ordenmantenimiento_operario_asignado_id_e7c4d03f" ON "api_ordenmantenimiento" ("operario_asignado_id");
CREATE UNIQUE INDEX "api_ordenmantenimiento_variadores_ordenmantenimiento_id_variador_id_9c63edfb_uniq" ON "api_ordenmantenimiento_variadores" ("ordenmantenimiento_id", "variador_id");
CREATE INDEX "api_ordenmantenimiento_variadores_ordenmantenimiento_id_8b8946f0" ON "api_ordenmantenimiento_variadores" ("ordenmantenimiento_id");
CREATE INDEX "api_ordenmantenimiento_variadores_variador_id_6b5153eb" ON "api_ordenmantenimiento_variadores" ("variador_id");
CREATE INDEX "api_motor_sector_id_b1b5e4c3" ON "api_motor" ("sector_id");
CREATE INDEX "api_historialmantenimiento_orden_id_a9ea73a0" ON "api_historialmantenimiento" ("orden_id");
CREATE INDEX "api_historialmantenimiento_reparacion_id_7c87029b" ON "api_historialmantenimiento" ("reparacion_id");
CREATE INDEX "api_historialmantenimiento_usuario_id_82b4cf80" ON "api_historialmantenimiento" ("usuario_id");
CREATE INDEX "api_evento_usuario_id_9f16279d" ON "api_evento" ("usuario_id");
CREATE INDEX "api_equipo_sector_id_d699823f" ON "api_equipo" ("sector_id");
CREATE INDEX "api_plclog_plc_id_2ca308_idx" ON "api_plclog" ("plc_id", "fecha");
CREATE UNIQUE INDEX "api_plcentradasalida_plc_id_direccion_31fcf93c_uniq" ON "api_plcentradasalida" ("plc_id", "direccion");
CREATE UNIQUE INDEX "api_equipo_nombre_sector_id_7dc357c9_uniq" ON "api_equipo" ("nombre", "sector_id");
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE TABLE IF NOT EXISTS "api_ordenmantenimiento_motores" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "ordenmantenimiento_id" bigint NOT NULL REFERENCES "api_ordenmantenimiento" ("id") DEFERRABLE INITIALLY DEFERRED, "motor_id" bigint NOT NULL REFERENCES "api_motor" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_ordenmantenimiento_equipos" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "ordenmantenimiento_id" bigint NOT NULL REFERENCES "api_ordenmantenimiento" ("id") DEFERRABLE INITIALLY DEFERRED, "equipo_id" bigint NOT NULL REFERENCES "api_equipo" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "api_ordenmantenimiento_motores_ordenmantenimiento_id_motor_id_2df2169b_uniq" ON "api_ordenmantenimiento_motores" ("ordenmantenimiento_id", "motor_id");
CREATE INDEX "api_ordenmantenimiento_motores_ordenmantenimiento_id_5e36a4d5" ON "api_ordenmantenimiento_motores" ("ordenmantenimiento_id");
CREATE INDEX "api_ordenmantenimiento_motores_motor_id_0628a054" ON "api_ordenmantenimiento_motores" ("motor_id");
CREATE UNIQUE INDEX "api_ordenmantenimiento_equipos_ordenmantenimiento_id_equipo_id_df51fdd6_uniq" ON "api_ordenmantenimiento_equipos" ("ordenmantenimiento_id", "equipo_id");
CREATE INDEX "api_ordenmantenimiento_equipos_ordenmantenimiento_id_76841856" ON "api_ordenmantenimiento_equipos" ("ordenmantenimiento_id");
CREATE INDEX "api_ordenmantenimiento_equipos_equipo_id_2fc77258" ON "api_ordenmantenimiento_equipos" ("equipo_id");
CREATE TABLE IF NOT EXISTS "api_historialcambioorden" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha_cambio" datetime NOT NULL, "tipo_cambio" varchar(20) NOT NULL, "campo_afectado" varchar(50) NULL, "valor_anterior" text NULL, "valor_nuevo" text NULL, "equipo_tipo" varchar(20) NULL, "equipo_id" integer unsigned NULL CHECK ("equipo_id" >= 0), "imagen_url" varchar(200) NULL, "orden_id" bigint NOT NULL REFERENCES "api_ordenmantenimiento" ("id") DEFERRABLE INITIALLY DEFERRED, "usuario_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "api_historialcambioorden_orden_id_10048738" ON "api_historialcambioorden" ("orden_id");
CREATE INDEX "api_historialcambioorden_usuario_id_9fc71486" ON "api_historialcambioorden" ("usuario_id");
CREATE TABLE IF NOT EXISTS "api_reparacion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "equipo_tipo" varchar(20) NOT NULL, "equipo_id" integer NOT NULL, "fecha_inicio" date NOT NULL, "fecha_fin" date NULL, "tipo" varchar(20) NOT NULL, "descripcion" text NOT NULL, "costo" decimal NULL, "documento" varchar(100) NULL, "creado_por_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "proveedor_id" bigint NULL REFERENCES "api_proveedor" ("id") DEFERRABLE INITIALLY DEFERRED, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
CREATE INDEX "api_reparacion_creado_por_id_c793e65f" ON "api_reparacion" ("creado_por_id");
CREATE INDEX "api_reparacion_proveedor_id_e2584017" ON "api_reparacion" ("proveedor_id");
CREATE TABLE IF NOT EXISTS "api_rutainspeccion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(200) NOT NULL, "descripcion" text NULL, "activo_tipo" varchar(50) NOT NULL, "activo_id" integer NOT NULL, "frecuencia_dias" integer unsigned NOT NULL CHECK ("frecuencia_dias" >= 0), "created_at" datetime NOT NULL, "creado_por_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_variableinspeccion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "unidad" varchar(50) NOT NULL, "valor_referencia" real NOT NULL, "tolerancia" real NOT NULL, "created_at" datetime NOT NULL, "ruta_id" bigint NOT NULL REFERENCES "api_rutainspeccion" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_resultadoinspeccion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "valor_medido" real NOT NULL, "fecha" datetime NOT NULL, "ejecucion_id" bigint NOT NULL REFERENCES "api_inspeccionejecucion" ("id") DEFERRABLE INITIALLY DEFERRED, "variable_id" bigint NOT NULL REFERENCES "api_variableinspeccion" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_inspeccionejecucion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha" datetime NOT NULL, "observaciones" text NULL, "ruta_id" bigint NOT NULL REFERENCES "api_rutainspeccion" ("id") DEFERRABLE INITIALLY DEFERRED, "tecnico_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "api_rutainspeccion_creado_por_id_03660ec7" ON "api_rutainspeccion" ("creado_por_id");
CREATE INDEX "api_variableinspeccion_ruta_id_e41222d1" ON "api_variableinspeccion" ("ruta_id");
CREATE INDEX "api_resultadoinspeccion_ejecucion_id_1a1730c3" ON "api_resultadoinspeccion" ("ejecucion_id");
CREATE INDEX "api_resultadoinspeccion_variable_id_553fd681" ON "api_resultadoinspeccion" ("variable_id");
CREATE INDEX "api_inspeccionejecucion_ruta_id_aa4c0e4b" ON "api_inspeccionejecucion" ("ruta_id");
CREATE INDEX "api_inspeccionejecucion_tecnico_id_acbbcbea" ON "api_inspeccionejecucion" ("tecnico_id");
